<!DOCTYPE html>
<html>
	<head>
		<title>Login - Easy Campaign</title>
		<meta charset="utf-8">

		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/formularios.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="main">
			<svg class="svg_text2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 689 379"><defs><style>.a{fill:#fff;font-size:270px;font-family:Poppins-SemiBold, Poppins;font-weight:600;letter-spacing:-0.04em;opacity:0.1;}</style></defs><text class="a" transform="translate(0 284)"><tspan x="0" y="0">Login</tspan></text></svg>
			<div class="container login">
				<div class="welcome_msg">
					<img class="logo" src="/img/easycampaign.svg" alt="EasyCampaign">
					<br>
					<p class="p16 black_clear_text">Um prazer vê-lo aqui hoje.</p>
					<br>
				</div>

				<% if(validacao) { %>
					<div class="alert alert-danger" role="alert">
						<ul>
							<% if(errado) { %>
								<b>Usuario e senha invalidos</b>
							<% } %>
							<% for(var i = 0; i < validacao.length; i++) { %>
								<li><%= validacao[i].msg %></li>
							<% } %>  
						</ul>    
					</div>
				<% } %>

				<form action="/login/logar" method="POST">
					<div class="row">
						<label for="email">
							<p class="p16 black_clear_text">E-mail</p>
							<input type="text" name="email" id="email" name="email" placeholder="email@empresatal.com.br"/>
						</label>
					</div>
					<br>
					<div class="row">
						<label for="senha">
							<p class="p16 black_clear_text">Senha</p>
							<input type="password" name="senha" id="senha"/>
						</label>
					</div>
					<br>
					<button type="submit" class="blue_bg white_text p18">Entrar</button>
				</form>

				<br>
				<a href="/cadastrar" class="p14 black_clear_text text_center">Ainda não é cadastrado?</a>
				<br>
				<a href="/suporte" class="p14 black_clear_text text_center">Esqueceu sua senha?</a>
				<footer>
					<p class="p14 black_clear_text text_center">EasyCampaign - <a href="#" class="p14 black_clear_text">Termos de uso</a>.</p>
				</footer>
			</div>
		</div>
	</body>
</html>
