<!DOCTYPE html>
<html>
	<head>
		<title>Nova Campanha - Easy Campaign</title>
		<% include ../components/header.ejs %>
		<link rel="stylesheet" href="/css/nova-campanha.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="topbar">
				<a href="#" title="menu" alt="menu"><img class="icon_menu" src="/img/menu.svg"/></a>
				<a href="#" title="EasyCampaign" alt="EasyCampaign"><img class="logo_easy_tiny" src="/img/easycampaign.svg"/></a>
				<a href="#"  title="notifications" alt="notifications"><img class="icon_notifications" src="/img/notifications.svg"/></a>
			</div>
			<% include ../components/sidebar.ejs %>
			<div class="main">
				<div class="container">
					<div class="user_infos">
						<a href="#" data-toggle="popover" title="Central de Notificações" data-placement="bottom" data-content="Você não possui notificações no momento.">
							<img src="/img/notifications.svg" alt="Notificações" class="icon_notifications">
						</a>
						<div class="user_infos--profile_picture"></div>
						<div class="user_infos--name">
							<h4 class="black_clear_text">Neil Patel</h4>
						</div>
					</div>
					<header>
						<h2 class="page_title white_text">Nova campanha</h2>
					</header>
					<div class="card card-full">
						<ul id="progressbar">
							<li class="campaign active">Campanha</li>
							<li class="products p18">Produtos</li>
							<li class="channels p18">Canais</li>
							<li class="settings p18">Configurações</li>
							<li class="confirm p18">Confirmação</li>
						</ul>
						<div class="content">
							<div class="content_item newfromzero">
								<h3 class="black_text">Campanha do zero</h3>
								<p class="p18 black_clear_text">Já tem a inspiração necessária para criar sua campanha?</p>
								<label for="newcampanha">
									Nome da campanha
									<input type="text" placeholder='Ex: "Black friday"'/>
									<button type="submit" class="blue_bg white_text p16">VAMOS LÁ!</button>
								</label>
							</div>
							<hr>
							<div class="content_item suggestions">
								<h3 class="black_text">Baseada nas sugestões</h3>
								<div class="suggestions-filters">
									<select name="tag">
										<option value="1">Por TAG</option>
										<option value="2">Dia das Mães</option>
										<option value="3">Copa do Mundo</option>
									</select>
									<select name="date">
										<option value="1">Por data</option>
										<option value="2">14 de junho de 2018</option>
										<option value="3">12 de Maio de 2019</option>
									</select>
								</div>
								<div class="card_active_suggestions--slider owl-carousel owl-theme">
									<div href="#" class="card_active_suggestions--content">
										<div class="suggestions-photo mae"></div>
										<h4>Dia das mães</h4>
										<p class="gray_dark_text roboto_italic p16">Campanha direcionada para a comemoração do dia das mães.</p>
									</div>
									<div href="#" class="card_active_suggestions--content">
										<div class="suggestions-photo copa"></div>
										<h4>Copa do mundo</h4>
										<p class="gray_dark_text roboto_italic p16">Campanha direcionada para o período da copa do mundo.</p>
									</div>
									<div href="#" class="card_active_suggestions--content">
										<div class="suggestions-photo mae"></div>
										<h4>Dia das mães</h4>
										<p class="gray_dark_text roboto_italic p16">Campanha direcionada para a comemoração do dia das mães.</p>
									</div>
									<div href="#" class="card_active_suggestions--content">
										<div class="suggestions-photo copa"></div>
										<h4>Copa do mundo</h4>
										<p class="gray_dark_text roboto_italic p16">Campanha direcionada para o período da copa do mundo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(function () {
					$('[data-toggle="popover"]').popover()
			})
		</script>
		<script>
			$('.owl-carousel').owlCarousel({
				loop:false,
				margin:10,
				nav:false,
				items:2
			})
		</script>
	</body>
</html>
